<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{base/layout}" lang="en">
<body><div layout:fragment="content" th:remove="tag">

  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>CB FRQs</title>
  </head>
  <body>
  <center>
    <div class="container">
      <div class="units" style="margin-top: 40px;">
        <div class="card" style="width: 25rem; background-color: mediumpurple;">
          <img class="card-img-top" src="https://apstudents.collegeboard.org/ap/2019-07/share-image.png" alt="Card image cap">
          <div class="card-body" style="color:white">
            <h3>
              <a href="/cb/unit2" style="color:white">Unit 2 FRQ [Objects + Abstraction]</a>
            </h3>
            <h3>
              <a href="/cb/unit3" style="color:white">Unit 3 FRQ [Operators]</a>
            </h3>
            <h3>
              <a href="/cb/unit4" style="color:white">Unit 4 [Iteration]</a>
            </h3>
            <h3>
              <a href="/cb/unit5" style="color:white">Unit 5 [Classes]</a>
            </h3>
            <h3>
              <a href="/cb/unit6" style="color:white">Unit 6 [Arrays]</a>
            </h3>

            <h3>
              <a href="/cb/unit7" style="color:white">Unit 7 [ArrayLists]</a>
            </h3>
            <h3>
              <a href="/cb/unit8" style="color:white">Unit 8 [2D Arrays]</a>
            </h3>
           <h3>
             <a href="https://replit.com/@purplebears321/Unit-9#frq9.java" style="color:white">Unit 9 [Inheritance]</a>
           </h3>
           <h3>
             <a href="/cb/unit10" style="color:white">Unit 10 [Recursion]</a>
           </h3>
          </div>
        </div>
      </div>
    </div>
  </center>
  </body>
  </html>
</body>
</html>