<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{base/layout}" lang="en">

<!-- <head> -->
<div layout:fragment="metadata" th:remove="tag">
    <!-- Page specific head additions -->
    <title>Password Generator Lab</title>
</div>

<!-- <body> -->
<div layout:fragment="content" th:remove="tag">
    <!-- Page specific body additions -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">See  the code</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <script th:src="${codeurl}"></script>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Unit 4 FRQ!</h1>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                See Code
            </button>
            <p class="lead">Create random passwords with customizable features!</p>
            <hr class="my-4">
            <form th:action="@{/cb/unit4}" method="GET" id="pswdForm">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="true" id="flexCheckLetters" name="letters">
                    <label class="form-check-label" for="flexCheckLetters">
                        Letters?
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="true" id="flexCheckDigits" name="numbers">
                    <label class="form-check-label" for="flexCheckDigits">
                        Digits?
                    </label>
                </div>
                <div>
                    <div>
                    <p>Length</p>
                    <input required type="number" name="characters" id="value">
                    <p>Amount</p>
                    <input required type="number" name="amount" id="amount">
                    </div>
                    <div>
                        <button class="btn btn-primary btn-lg">Generate!</button>
                    </div>
                    <p th:text="'Here are your passwords: ' + ${passwords}"></p>
                </div>
            </form>

        </div>

    </div>
</div>
</div>
</html>
