<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{base/layout}" lang="en">

<!-- <head> -->
<div layout:fragment="metadata" th:remove="tag">
    <!-- Page specific head additions -->
    <title>Password Generator Lab</title>
</div>

<!-- <body> -->
<div layout:fragment="content" th:remove="tag">
    <!-- Page specific body additions -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">See  the code</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <script th:src="${codeurl}"></script>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Unit 7 FRQ!</h1>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                See Code
            </button>
            <p class="lead">Generate substring usernames with first and last name input.</p>
            <hr class="my-4">
            <form th:action="@{/cb/unit7}" method="GET" id="pswdForm">
                <div>
                    <div>
                        <p>First name</p>
                        <input required type="text" name="first" id="value">
                        <p>last name</p>
                        <input required type="text" name="last" id="amount">
                    </div>
                    <div>
                        <button class="btn btn-primary btn-lg">Generate!</button>
                    </div>
                    <p th:utext="${'<b>First Name:</b> '+first}">
                    <p th:utext="${'<b>Last Name:</b> '+last}">
                    <p><b>Available Usernames</b></p>
                    <p th:text="${usernames}"></p>
                </div>
            </form>

        </div>

    </div>
</div>
</div>
</html>
