<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{base/layout}" lang="en">

<!-- <head> -->
<div layout:fragment="metadata" th:remove="tag">
    <!-- Page specific head additions -->
    <title>Unit 3 FRQ</title>
</div>

<!-- <body> -->
<div layout:fragment="content" th:remove="tag">
    <!-- Page specific body additions -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">See the code</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <script th:src="${codeurl}"></script>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Unit 8 FRQ!</h1>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                See Code
            </button>
            <p class="lead">Input crop yields and find the max!</p>
            <hr class="my-4">
            <div class="row">
                <div class="col">
                    <form th:action="@{/cb/unit8}" method="GET" id="rsvpForm">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">0</th>
                                <th scope="col">1</th>
                                <th scope="col">2</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">0</th>
                                <td>
                                    <p>Corn</p>
                                    <input type="number" name="corn00" id="corn00" placeholder="20">
                                </td>
                                <td>
                                    <p>Corn</p>
                                    <input type="number" name="corn01" id="corn01" placeholder="30">
                                </td>
                                <td>
                                    <p>Peas</p>
                                    <input type="number" name="peas02" id="peas02" placeholder="10">
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>
                                    <p>Peas</p>
                                    <input type="number" name="peas10" id="peas10" placeholder="30">
                                </td>
                                <td>
                                    <p>Corn</p>
                                    <input type="number" name="corn11" id="corn11" placeholder="40">
                                </td>
                                <td>
                                    <p>Corn</p>
                                    <input type="number" name="corn12" id="corn12" placeholder="62">
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>
                                    <p>Wheat</p>
                                    <input type="number" name="wheat20" id="wheat20" placeholder="10">
                                </td>
                                <td>
                                    <p>Corn</p>
                                    <input type="number" name="corn21" id="corn21" placeholder="50">
                                </td>
                                <td>
                                    <p>Rice</p>
                                    <input type="number" name="rice22" id="rice22" placeholder="30">
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>
                                    <p>Corn</p>
                                    <input type="number" name="corn30" id="corn30" placeholder="55">
                                </td>
                                <td>
                                    <p>Corn</p>
                                    <input type="number" name="corn31" id="corn31" placeholder="30">
                                </td>
                                <td>
                                    <p>Peas</p>
                                    <input type="number" name="peas32" id="peas32" placeholder="30">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <p>Crop</p>
                        <input required type="text" name="crop" id="crop">
                            <div>
                                <button class="btn btn-primary btn-sm">Check</button>
                            </div>
                            <p id="boolean" th:text="${result} + '!'"></p>
                        </div>
                    </form>

    </div>
</div>
</div>
</div>