<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{base/noNavbar}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag"><div class="animation-region">
    <title>Create</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</div></div>

<body><div layout:fragment="content" th:remove="tag">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col8">
                    <div class="login-form" style="width: 400px; margin: 50px auto">
                        <h1>Create Person</h1>
                        <!-- ThymeLeaf allows person abject of the Class Person to be acted upon by the form
                             This is known as a “bean-backed form” or "form-backing bean".
                                th:object - the backend form object (bean object)
                             There are fields in the Person bean
                                th:field="*{name}"
                                th:field="*{age}"
                                th:field="*{dob}"
                             Each field has supporting line to show errors in validation
                                th:errors - form input errors added when validation errors occur
                             Reference for CRUD
                                https://www.baeldung.com/spring-boot-crud-thymeleaf
                             Get started with dialects in 5 minutes
                                https://www.thymeleaf.org/doc/articles/standarddialect5minutes.html
                             Reference Bootstrap Form
                                https://getbootstrap.com/docs/4.0/components/forms/#readonly-plain-text
                         -->
                        <form class="form-inline" action="#" th:action="@{/database/personcreate}" th:object="${person}" method="POST">
                        <table>
                            <tr><td>
                                <label for="email">Email</label>
                                <input class="login-input" type="email" th:field="*{email}" id="email">
                                <small th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</small>
                            </td></tr>
                            <tr><td>
                                <label for="password">Password</label>
                                <input class="login-input" type="password" th:field="*{password}" id="password">
                                <small th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</small>
                            </td></tr>
                            <tr><td>
                                <label for="name">Name</label>
                                <input class="login-input" type="text" th:field="*{name}" id="name">
                                <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</small>
                            </td></tr>
                            <tr><td>
                                <label for="dob">Birth Date</label>
                                <input class="login-input" type="date" th:field="*{dob}" id="dob">
                                <small th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}">Birth Date Error</small>
                            </td></tr>
                            <tr><td><button type="submit" class="btn btn-primary">Add</button></td></tr>
                            <tr><td><a href="/login">Back to Login</a></td></tr>
                        </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>