<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{base/layout}" lang="en">
<body><div layout:fragment="content" th:remove="tag">

    <head><div layout:fragment="metadata" th:remove="tag">
        <link rel="stylesheet" th:href="@{/css/button.css}">
        <meta charset="UTF-8">
        <title>About Nick</title>

    </div></head>


    <div class="container">
        <div class="units" style="margin-top: 40px;">
            <div class="jumbotron" style="background-color: mediumpurple;">
                <div class="row">
                    <div class="col-3">
                        <img class="img" src="/images/nick.png" id="mask" alt="me">
                    </div>
                    <div class="col-6">
                        <h3>
                            <a href="/cb/insert" style="color:white">Unit 2 FRQ</a>
                        </h3>
                        <h3>
                            <a href="/data/scorecreate" style="color:white">Database</a>
                        </h3>
                        <h3>
                            <a href="https://docs.google.com/document/d/1jmRSbsEmWEwsjZqkAjQnIliiSyZJDKA-KC60NFxaLUU/edit?usp=sharing" style="color:white">Journal</a>
                        </h3>
                        <h3>
                            <a href="https://github.com/zenxha/m22-2-social-credit-farmers/projects/1?card_filter_query=assignee%3Apurplebears321" style="color:white">Tickets</a>
                        </h3>
                        <h3>
                            <a href="https://github.com/zenxha/m22-2-social-credit-farmers/commits?author=purplebears321" style="color:white">Commits</a>
                        </h3>
                        <h3>
                            <a href="https://github.com/purplebears321" style="color:white">Profile</a>
                        </h3>

                        <div class="col">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div></body>
</html>