<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{base/layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <title>About Us</title>
    <link rel="stylesheet" th:href="@{/css/about.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</div></head>

<body><div layout:fragment="content" th:remove="tag"><div class="animation-region">
    <div class="splitter"></div> <!-- line to divide each persons section -->
    <div class="ourteam">
        <h3 class="ourteam-text">Our Team</h3> <!-- header box for team image -->
        <img class="img-head" th:src="@{/images/group.jpg}" height="300px" width="500px">
    </div>
    <div class="splitter"></div>
    <div class="person" id="expand">
        <img class="img-person" th:src="@{/images/allen.jpg}" height="200px" width="200px">
        <div class="name">
            <p>Allen Xu</p>
            <p>Scrum Leader</p>
        </div>
        <button type="button" class="arrow" id="arrow1" onclick="expand('1')"></button> <!-- dropdown arrow button -->
    </div>
    <p class="text" id="text1">
        <a href="https://github.com/purplebears321">GitHub Profile</a><br>
        <a href="https://purplebears321.github.io/Allen/">GitHub Pages</a><br>
        <a href="https://github.com/zenxha/musicgacha/projects/1?card_filter_query=assignee%3Apurplebears321">Assigned Tickets</a><br>
    </p>
    <div class="splitter"></div>
    <div class="person" id="expand">
        <img class="img-person" th:src="@{/images/chris.jpg}" height="200px" width="200px">
        <div class="name">
            <p>Chris Rubin</p>
            <p>Deployment Manager</p>
        </div>
        <p class="text"></p>
        <button type="button" class="arrow" id="arrow2" onclick="expand('2')"></button>
    </div>
    <p class="text" id="text2">
        <a href="https://github.com/Chris-Ru">GitHub Profile</a><br>
        <a href="https://chris-ru.github.io/">GitHub Pages</a><br>
        <a href="https://github.com/zenxha/musicgacha/projects/1?card_filter_query=assignee%3Achris-ru">Assigned Tickets</a><br>
    </p>
    <div class="splitter"></div>
    <div class="person" id="expand">
        <img class="img-person" th:src="@{/images/komay.jpg}" height="200px" width="200px">
        <div class="name">
            <p>Komay Sugiyama</p>
            <p>Backend</p>
        </div>
        <p class="text"></p>
        <button type="button" class="arrow" id="arrow3" onclick="expand('3')"></button>
    </div>
    <p class="text" id="text3">
        <a href="https://github.com/zenxha">GitHub Profile</a><br>
        <a href="https://zenxha.github.io/komay-tri3/">GitHub Pages</a><br>
        <a href="https://github.com/zenxha/musicgacha/projects/1?card_filter_query=assignee%3Azenxha">Assigned Tickets</a><br>
    </p>
    <div class="splitter"></div>
    <div class="person" id="expand">
        <img class="img-person" th:src="@{/images/sam.jpg}" height="200px" width="200px">
        <div class="name">
            <p>Sam Koenig</p>
            <p>Frontend / Design</p>
        </div>
        <p class="text"></p>
        <button type="button" class="arrow" id="arrow4" onclick="expand('4')"></button>
    </div>
    <p class="text" id="text4">
        <a href="https://github.com/samkoenig9">GitHub Profile</a><br>
        <a href="https://samkoenig9.github.io/sam-tri3/">GitHub Pages</a><br>
        <a href="https://github.com/zenxha/musicgacha/projects/1?card_filter_query=assignee%3Asamkoenig9">Assigned Tickets</a><br>
    </p>
    <div class="splitter"></div>
    <div class="person" id="expand">
        <img class="img-person" th:src="@{/images/caleb.png}" height="200px" width="200px">
        <div class="name">
            <p>Caleb Kim</p>
            <p>GitHub Admin</p>
        </div>
        <p class="text"></p>
        <button type="button" class="arrow" id="arrow5" onclick="expand('5')"></button>
    </div>
    <p class="text" id="text5">
        <a href="https://github.com/calebkimsd">GitHub Profile</a><br>
        <a href="https://calebkimsd.github.io/Tri-3-CSA/">GitHub Pages</a><br>
        <a href="https://github.com/zenxha/musicgacha/projects/1?card_filter_query=assignee%3Acalebkimsd">Assigned Tickets</a><br>
    </p>
    <div class="splitter"></div>
    <div class="person" id="expand"> <!-- sponsor box -->
        <img class="img-person" th:src="@{/images/anthony.jpeg}" height="200px" width="200px">
        <div class="name">
            <p>Anthony Vo</p>
            <p>Project Sponsor</p>
        </div>
        <p class="text"></p>
        <button type="button" class="arrow" id="arrow6" onclick="expand('6')"></button>
    </div>
    <p class="text" id="text6">
        <a href="https://zenxha.github.io/musicgacha/sponsor">Sponsor Objectives</a><br>
    </p>
    <div class="splitter" style="margin-bottom: 50px;"></div>

<script>

const expand = (number) => {
    var x = $("#arrow"+number)[0];
    const arrowName = x.className === "arrow-expanded" ? 'arrow' : 'arrow-expanded';
    x.classname = arrowName;

    var y = $("#text"+number)[0];
    const textName = y.className === 'text-expanded' ? 'text' : 'text-expanded';
    y.className = textName;

}

</script>

</div></div></body>

</html>