<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{base/layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <title>Play</title>
    <link rel="stylesheet" th:href="@{/css/cards.css}">
</div></head>

<body><div layout:fragment="content" th:remove="tag"><div class="animation-region">

    <h1 style="margin: 25px 0 0 100px;">Possible Characters Sorted by Rarity</h1>
    <div class="container" th:each="rarityList : ${database}">
        <h1 th:text="${rarityList.key}" th:class="${rarityList.key}" style="text-transform: uppercase; position: absolute; margin: 50px 0 0 35px; font-size: 50px;"> </h1>
        <div class="row">
            <div class="wrapper" style="scroll-snap-type: x mandatory">
                <div class="col-md-3" th:each="x : ${rarityList.value}" style="scroll-snap-align: start;">
                    <a th:href="@{'/characters/'+${x.getID()}}" style="text-decoration: none;"><div th:classappend="${x.getRarity()+'-border'}"class="card p-3 py-4 mt-5 mb-5" style="color: white;">
                        <img class="card-img" th:src="${x.getImage()}" alt="Avatar" >
                        <div>
                            <h4 th:text="${x.getName()}"></h4>
                            <p th:class="${x.getRarity}" th:text="${x.getRarity()}" style="text-transform: uppercase;"></p>
                            <p th:text="${x.getDescription()}"></p>
                            <p th:text="${'Origin: '+ x.getOrigin()}"></p>
                            <p th:text="${'ID: '+ x.getID()}"></p>
                        </div>
                    </div></a>
                </div>
            </div>
        </div>
    </div>
</div></div></body>
</html>