<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{base/layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <title>Play</title>
</div></head>

<body><div layout:fragment="content" th:remove="tag"><div class="animation-region">

<h1>Possible Characters</h1>

    <div class="row" th:each="rarityList : ${database}">
        <div class="wrapper">
            <h1 th:text="${rarityList.key}" style="margin-bottom: 15%;"> </h1>
            <div class="col-md-3" th:each="x : ${rarityList.value}">
                <div class="card p-3 py-4 mt-5 mb-5" style="color: black;">
                    <img th:src="${x.getImage()}" alt="Avatar" >
                    <div class="container">
                        <h4 th:text="${x.getName()}"><b></b></h4>
                        <p th:text="${x.getDescription()}"></p>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>

    <div>

    </div>
    <style>
        html,body {
            overflow-x:hidden;
        }

        .card {
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            width: 75%;
        }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

        .container {
            padding: 2px 16px;
        }
        .wrapper {
            border: 1px solid #dc4e41;
            display: flex;
            overflow-x: auto;
        }
    </style>

</div></div></body>
</html>