

<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{base/layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <title th:text="${character.getName()}"></title>
    <link rel="stylesheet" th:href="@{/css/cards.css}">
</div></head>

<body><div layout:fragment="content" th:remove="tag"><div class="animation-region">

    <!-- STUFF GOES HERE -->
    <div class="container">
        <div class="big-card" th:classappend="${character.getRarity()+'-border'}">
            <img class="character-img" th:src="${character.getImage()}" >
            <div>
                <h1 th:text="${character.getName()}" class="display-4"></h1>
                <h1 th:class="${character.getRarity}" th:text="${character.getRarity()}" style="text-transform: uppercase;"></h1>
                <p th:text="${character.getDescription()}"></p>
                <p th:text="${'Origin: '+ character.getOrigin()}" class="lead"></p>
            </div>
        </div>
    </div>

    </div></div></body>
</html>