

<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{base/layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <title th:text="${character.getName()}"></title>
</div></head>

<body><div layout:fragment="content" th:remove="tag"><div class="animation-region">

    <!-- STUFF GOES HERE -->
    <div class="container">
        <div class="jumbotron">
            <h1 th:text="${character.getName()}" class="display-4" style="color:black"></h1>
            <p th:text="${character.getOrigin()}" class="lead" style="color:black"> </p>
            <img th:src="${character.getImage()}">
            <p th:text="${character.getDescription()}"></p>
            <hr class="my-4">
           </div>
    </div>

    </div></div></body>
</html>