<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{base/layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <title>How to Play</title>
    <link rel="stylesheet" th:href="@{css/howToPlay.css}">
</div></head>

<body><div layout:fragment="content" th:remove="tag">
    
<h1 class="title">How to Play</h1>
<div class="htp-container">
    <div class="num-left">
        <h1 class="number">1 ⮕</h1>
    </div>
    <div class="step">
        <p>Navigate to the Gacha page of our website</p>
    </div>
</div>

<div class="htp-container">
    <div class="step">
        <p>Once there, hit the "roll" button on screen</p>
    </div>
    <div class="num-right">
        <h1 class="number">⬅ 2</h1>
    </div>
</div>

<div class="htp-container">
    <div class="num-left">
        <h1 class="number">3 ⮕</h1>
    </div>
    <div class="step">
        <p>View the character you rolled and learn information about them! The character is also added to your collection. (Note: Only 1 roll per day)</p>
    </div>
</div>

</div></body>
</html>