<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{base/layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <title>How to Play</title>
    <link rel="stylesheet" th:href="@{css/howToPlay.css}">
</div></head>

<body><div layout:fragment="content" th:remove="tag"><div class="animation-region">

<h1 class="title">How to Play</h1>
<div class="htp-container anim-1">
    <div class="num-left">
        <h1 class="number">1 ⮕</h1>
    </div>
    <div class="step">
        <p style="font-size: 50px;">Navigate to the <strong>PLAY</strong> page</p>
    </div>
</div>

<div class="htp-container anim-2">
    <div class="step">
        <p style="font-size: 50px;">Once there, hit <strong>ROLL</strong></p>
    </div>
    <div class="num-right">
        <h1 class="number">⬅ 2</h1>
    </div>
</div>

<div class="htp-container anim-1">
    <div class="num-left">
        <h1 class="number">3 ⮕</h1>
    </div>
    <div class="step">
        <p style="font-size: 30px;">The character you roll is added to your collection, where you can view and learn more about them.</p>
    </div>
</div>

</div></div></body>
</html>