
<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{base/noNavbar}" lang="en">
<head><div layout:fragment="metadata" th:remove="tag">
    <title>MusicGacha</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{css/home.css}">
</div></head>

<body><div layout:fragment="content" th:remove="tag">
    <div class="home-container">
        <div class="left">
            <h1>Music Gacha</h1>
            <h3>Select an Option</h3>
        </div>
        <div class="right">
            <div onclick="location.href='/play';" class="grid-1 box top-box">
                <p class="box-text">PLAY</p>
            </div>
            <div onclick="location.href='/howtoplay';" class="grid-2 box top-box">
                <p class="box-text">HOW TO PLAY</p>
            </div>
            <div onclick="location.href='/about';" class="grid-3 box bottom-box">
                <p class="box-text">ABOUT US</p>
            </div>
            <div onclick="location.href='/';" class="grid-4 box bottom-box">
                <p class="box-text">Square 4</p>
            </div>
        </div>
    </div>

</div></body>
<script>

</script>

</html>