<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{base/layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <title>Opening...</title>
    <link rel="stylesheet" th:href="@{/css/box.css}">
</div></head>

<body><div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="text-center text-light my-5"><strong>Whats inside?</strong></h3>
            </div>
            <div class="col-12 mt-5 d-flex justify-content-center">
                <div class="box">
                    <div class="box-body">
                        <img class="img" th:src="@{/images/sam2.png}">
                        <div class="box-lid">

                            <div class="box-bowtie"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="overlay"></div>
        <script type="text/javascript">
            // Initialize Variables
            var closePopup = document.getElementById("popupclose");
            var overlay = document.getElementById("overlay");
            var popup = document.getElementById("popup");
            var button = document.getElementById("button");
            // Close Popup Event
            overlay.onclick = function() {
                overlay.className = '';
                popup.className = '';
            };
            // Close Popup Event
            closePopup.onclick = function() {
                overlay.className = '';
                popup.className = '';
            };
            // Show Overlay and Popup
            button.onclick = function() {
                overlay.className = 'show';
                popup.className = 'show';
            }
        </script>
    </div>
    <!-- End of body content specific to page -->
</div></body>

</html>