<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{base/layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <title>Play</title>
    <link rel="stylesheet" th:href="@{/css/play.css}">
</div></head>

<body><div layout:fragment="content" th:remove="tag"><div class="animation-region">

<div class="timer-box">
    <p class="open-title">open in...</p>
    <p class="timer">00:00:00:00</p>
</div>



<div class="birthday-gift">
    <div class="gift">
    <input id='click' type='checkbox'>
    <label class='click' for='click'></label>
         <div class="sparkles">
        <div class="spark1"></div>
        <div class="spark2"></div>
        <div class="spark3"></div>
        <div class="spark4"></div>
        <div class="spark5"></div>
        <div class="spark6"></div>
      </div>
      </div>
  </div>

<div></div></body>
</html>