

<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{base/layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
  <title>Random Generator</title>
</div></head>

<body><div layout:fragment="content" th:remove="tag">

  <!-- STUFF GOES HERE -->
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4" style="color:black">Test Random Generator</h1>
      <p class="lead" style="color:black">Simple random test </p>
      <hr class="my-4">
      <form th:action="@{/random}" method="GET" id="greetForm">
        <div style="color:black">
          <p ><b>Test Rolls</b></p>
          <label for="rolls">Input amount of rolls</label>
          <input name="rolls" id="rolls">
        </div>
        <div>
          <button>Roll!</button>
        </div>
        <p style="color:black" th:text="'Outputted Rarities: ' + ${result}"></p>

    </div>
    </form>

</div></body>
</html>