<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{base/layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <title>How to Play</title>
    <link rel="stylesheet" th:href="@{css/cards.css}">
</div></head>

<body><div layout:fragment="content" th:remove="tag"><div class="animation-region">
    <div class="container">
        <div class="flip-card" style="color: black;">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img th:src="${character.getImage()}" height="300" >
                </div>
                <div class="flip-card-back" th:classappend="${character.getRarity()+'b'}">
                    <div class="container">
                        <h3 th:text="${character.getName()}"><b></b></h3>
                        <h4 th:text="${character.getRarity()}"></h4>
                        <p th:text="${character.getDescription()}"></p>
                        <p th:text="${character.getOrigin()}"><b></b></p>
                        <p>Sam please style this</p>
                    </div>
            </div>
            </div>
        </div>
<!--
        <a th:href="@{/database/notes/{id}(id = ${person.id})}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Add to Inventory</a>
-->
    </div>


    <style>
        .card {
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            width: 50%;
        }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

        .container {
            padding: 2px 16px;
        }
    </style>

</div></div></body>
</html>