<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{base/layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <title>How to Play</title>
    <link rel="stylesheet" th:href="@{css/cards.css}">
    <link rel="stylesheet" th:href="@{css/roll.css}">
</div></head>
<body><div layout:fragment="content" th:remove="tag"><div class="animation-region">
    <div class="container">

        </br>
        <div class="slat" style="text-align: center">
            <p style="font-size: 50px;"><strong>HOVER</strong> to View Information</p>
        </div>

        </br>
        </br>
        </br>

        <div class="flip-card" style="color: black; text-align: center">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img th:src="${character.getImage()}" height="300" >
                </div>
                <div class="flip-card-back" th:classappend="${character.getRarity()+'b'}">
                    <div class="container">
                        <h3 th:text="${character.getName()}"><b></b></h3>
                        <h4 th:text="${character.getRarity()}"></h4>
                        <p th:text="${character.getDescription()}"></p>
                        <p th:text="${character.getOrigin()}"><b></b></p>
                    </div>
            </div>
            </div>
        </div>
        </br>
        </br>
        <button class="click" onClick="window.location.reload();">New Character</button>
<!--
        <a th:href="@{/database/notes/{id}(id = ${person.id})}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Add to Inventory</a>
-->
    </div>


</div></div></body>
</html>