
<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{base/layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
  <title>Score Search</title>
</div></head>

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<body><div layout:fragment="content" th:remove="tag">
  <!-- Start of body content specific to page -->
  <div class="container">

    <div class="row justify-content-md-center" style="margin-top:7%;">
      <h1>Score Database</h1>
    </div>

    <div class="row">
      <div class="col">
        <div class="card-card-body">
          <input id="search-input" class="form-control" type="text">
        </div>
      </div>
    </div>

    <table class="table table-striped">
      <tr  class="bg-info">
        <th  class="bg-info" data-colname="name" data-order="desc">Name &#9650</th>
        <th  data-colname="score" data-order="desc">Score &#9650</th>
        <th  data-colname="birthdate" data-order="desc">Birthday &#9650</th>
      </tr>
      <tbody id="myTable">

      </tbody>
    </table>
  </div>


  <style>
    th{
      cursor: pointer;
      color:#fff;
    }
  </style>


  <script>
    var myArray = [
      {'name':'Allen', 'score':'30', 'birthdate':'11/10/2004'},
      {'name':'Komay', 'score':'32', 'birthdate':'10/1/2004'},
      {'name':'Caleb', 'score':'29', 'birthdate':'10/14/2005'},
      {'name':'Tanmay', 'score':'25', 'birthdate':'11/29/2004'},
      {'name':'Nick', 'score':'27', 'birthdate':'3/12/2004'},
      {'name':'Erik', 'score':'24', 'birthdate':'10/31/1995'},
    ]

    $('#search-input').on('keyup', function(){
      var value = $(this).val()
      console.log('Value', value)
      var data = searchTable(value, myArray)
      buildTable(data)
    })

    buildTable(myArray)

    function searchTable(value, data){
      var filteredData = []

      for (var i = 0; i < data.length; i++){
        value =  value.toLowerCase()
        var name = data[i].name.toLowerCase()

        if (name.includes(value)){
          filteredData.push(data[i])
        }
      }
      return filteredData
    }

    $('th').on('click', function(){
      var column = $(this).data('colname')
      var order = $(this).data('order')
      var text = $(this).html()
      text = text.substring(0, text.length - 1);


      if (order == 'desc'){
        myArray = myArray.sort((a, b) => a[column] > b[column] ? 1 : -1)
        $(this).data("order","asc");
        text += '&#9660'
      }else{
        myArray = myArray.sort((a, b) => a[column] < b[column] ? 1 : -1)
        $(this).data("order","desc");
        text += '&#9650'
      }

      $(this).html(text)
      buildTable(myArray)
    })



    function buildTable(data){
      var table = document.getElementById('myTable')
      table.innerHTML = ''
      for (var i = 0; i < data.length; i++){
        var colname = `name-${i}`
        var colage = `score-${i}`
        var colbirth = `birth-${i}`

        var row = `<tr>
                        <td>${data[i].name}</td>
                        <td>${data[i].score}</td>
                        <td>${data[i].birthdate}</td>
                   </tr>`
        table.innerHTML += row
      }
    }

  </script>
</div>

  <!-- End of body content specific to page -->
</div></body>

</html>