<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{base/layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <title>Shop</title>
</div></head>

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<body><div layout:fragment="content" th:remove="tag"><div class="animation-region">
    <div class="modal fade" id="confirmation" tabindex="-1" aria-labelledby="confirmationLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmationLabel">Confirmation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">nvm..</button>
                    <button type="button" class="btn btn-primary" onclick="openVid()">Purchase</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row px-5 pt-5">
        <div class="col-md-3 mt-4 mt-sm-0 card-container">
            <div class="card text-center product p-4 pt-5 border-0 h-100 rounded-0">
                <img class="img-fluid d-block mx-auto" src="https://raw.githubusercontent.com/solodev/bootstrap-cards-shopping-cart/master/images/gear-glasses.jpg" alt="Pilot Aviator Glasses Gear Image">
                <div class="card-body p-4 py-0 h-xs-440p">
                    <h5 class="card-title font-weight-semi-bold mb-3 w-xl-220p mx-auto">Pilot Aviator Glasses</h5>
                    <p class="price">$45.00</p>
                </div>
                <p class="btn w-100 px-4 mx-auto">
                    <button data-bs-toggle="modal" data-bs-target="#confirmation"  class="btn btn-dark btn-lg w-100" name="add-button" data-price="15">Buy Now</button>
                </p>
            </div>
        </div>

        <div class="col-md-3 mt-4 mt-sm-0 card-container">
            <div class="card text-center product p-4 pt-5 border-0 h-100 rounded-0">
                <img class="img-fluid d-block mx-auto" src="https://files.catbox.moe/td9wvp.png" alt="Command Hats Gear Image">
                <div class="card-body p-4 py-0 h-xs-440p">
                    <h5 class="card-title font-weight-semi-bold mb-3 w-xl-220p mx-auto">Command Hats</h5>
                    <p class="price">15 Social Credits</p>
                </div>
                <p class="btn w-100 px-4 text-center mx-auto">
                    <button data-bs-toggle="modal" data-bs-target="#confirmation"  class="btn btn-dark btn-lg w-100" data-price="15">Buy Now</button>
            </div>
        </div>

        <div class="col-md-3 mt-4 mt-sm-0 card-container">
            <div class="card text-center product p-4 pt-5 border-0 h-100 rounded-0">
                <img class="img-fluid d-block mx-auto" src="https://raw.githubusercontent.com/solodev/bootstrap-cards-shopping-cart/master/images/gear-tshirt.jpg" alt="Mission T-Shirts Gear Image">
                <div class="card-body p-4 py-0 h-xs-440p">
                    <h5 class="card-title font-weight-semi-bold mb-3 w-xl-220p mx-auto">Mission T-Shirts</h5>
                    <p class="price">$25.00</p>
                </div>
                <p class="btn w-100 px-4 mx-auto">
                    <button data-bs-toggle="modal" data-bs-target="#confirmation"  class="btn btn-dark btn-lg w-100" data-price="20">Buy Now</button>
            </div>
        </div>
    </div>
</div></div></body>

<script>
    $('#confirmation').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var price = button.data('price') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('.modal-body').text('Are you sure you want to purchase this for ' + price+ " social credits?")
        // modal.find('.modal-body input').val(recipient)
        console.log("a")
    })

    function openVid() {

    }
</script>
<style>
    .card.product .btn {
        bottom: 1.5rem;
        max-width: 80%;
    }

    .price {
        font-size: 1.75rem;
    }

    @media (max-width: 768px) {
        .card-container {
            margin-bottom: 2rem;
        }
    }
</style>
</html>