<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>...</title>
    <link th:href="@{/css/nav.css}" rel="stylesheet" /></head>
<!-- Begin navigation fragments -->
<nav class="cnav navbar navbar-expand" th:fragment="header">
    <!-- <a href="/">
        <img src="/src/main/staticin/static/images/logo.png" th:src="@{/images/logo.png}" width="auto" height="50" class="d-inline-block align-center" alt="logo">
    </a> -->
    <a href="/" class="navbar-brand navtext">MusicGacha</a>

    <!-- Bootstrap menus -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!--root menu -->
            <li class="nav-item active">
                <a class="nav-link navtext" href="/about">About Us<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link navtext" href="/shop">Shop<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link navtext" href="https://zenxha.github.io/musicgacha/">GitHub Pages<span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item d-flex">
                <form class="d-flex" action="https://youtube.com/results" method="get">
                    <input class="form-control me-2" name="search_query" type="search" placeholder="Search"
                           aria-label="Search">
                    <button class="btn btn-outline-error" type="submit">Search</button>
                </form>
            </li>
        </ul>
    </div>
    <script>
        // default color for switch
        document.body.style.backgroundColor = "#3494E6"

        console.log("yo")
        document.getElementById("scorelabel").textContent = "Social Credit Score: 0"
        document.getElementById("username").setAttribute('value', localStorage.getItem("username"));
        document.getElementById("currentscore").innerText = localStorage.getItem("score")
        function pushScore() {
            let score = localStorage.getItem("score")

            // let username = $('saveform').serializeArray()[0]
            const username = document.getElementById('username').value;
            localStorage.setItem("username", username)
            console.log(username)
            alert("Saved score of "+ score+" for "+username)
            $.post('/api/pushscore',
                {
                    username: username,
                    score: localStorage.getItem("score").toString()})
        }


        function updateScore() {
            let score = localStorage.getItem("score");
            document.getElementById("scorelabel").textContent = "Social Credit Score: " + score.toString();
        }

        setInterval(updateScore, 1000)
    </script>
</nav>
<!-- Begin navigation fragments -->
</body>
</html>