@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

body{
    font-family: 'Lexend Deca', sans-serif;
    /* background-color: rgb(13, 13, 26); */
    color: white;
    background-color: black;
    background-image: linear-gradient(315deg, #080f1d 0%, #0a1427 74%);
}

.ourteam{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
}

.ourteam-text{
    position: absolute;
    left: 270px;
    font-size: 40px;
    
}

.img-head{
    position: relative;
    outline: 5px solid #0a1427;
    outline-offset: -10px;
    left: 50%;
}

.splitter{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    height: 5px;
    background-color: rgb(21, 30, 78);
}

.person{
    height: auto;
    padding-left: 150px;;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}

.person-expanded{
    height: auto;
    padding-left: 150px;
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    padding-right: 150px;
    width: auto;
}

.img-person{
    border-radius: 1000px;
    float: left;
}

.name{
    padding-left: 20px;
    font-size: 30px;
    margin: 0px;  
    justify-content: center;
    width: fit-content;
    line-height: 15px;
}

.arrow{
    border: solid white;
    border-width: 0 10px 10px 0;
    padding: 20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    background-color: transparent;
    cursor: pointer;
    margin-left: 70%;
    position: absolute;
}

.arrow:hover{
    border: solid rgb(134, 134, 134);
    border-width: 0 10px 10px 0;
}

.arrow-expanded:hover{
    border: solid rgb(134, 134, 134);
    border-width: 0 0 10px 10px;
}

.arrow-expanded{
    border: solid white;
    border-width: 0 0 10px 10px;
    padding: 20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    background-color: transparent;
    cursor: pointer;
    margin-left: 70%;
    position: absolute;
    margin-top: 100px;
}

.name-expanded{
    width: fit-content;
    font-size: 30px;
    margin: 10px;
    line-height: 15px;
}

.text{
    flex-direction: row;
}