html,body {
    overflow-x:hidden;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: var(--accent);
    border-radius: 25px;
    height: auto;
    margin-top: 80px;
    min-width: 230px;
}

.big-card {
    border-radius: 35px;
    height: 80%;
    margin-top: 20px;
    display: flex;
    background-color: var(--accent);
    padding: 25px;
}

.character-img{
    height: 300px;
    border-radius: 25px;
    margin-right: 30px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.05);
}

.container {
    padding: 2px 16px;
}

.card-img{
    border-radius: 20px;
    padding: 0 5px 10px 5px;
}

.row{
    width: 100%;
    height: auto;
    margin: 30px auto 30px auto;
    background-color: var(--blueaccent);
    padding: 50px 20px 20px 20px;
    border-radius: 20px;
}

.wrapper {
    display: flex;
    overflow-x: auto;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: left;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: #bbb;
    color: black;
}

/* Style the back side */
.flip-card-back {
    color: white;
    transform: rotateY(180deg);
}

.common {
    color: #e9c46a;
}
.commonb {
    background-color: #e9c46a;
}

.uncommon {
    color: #7FFFD4;
}
.uncommonb {
    background-color: #7FFFD4;
}

.epic {
    color: #ff1493;
}
.epicb {
    background-color: #ff1493;
}

.legendary {
    color: #8A2BE2;
}
.legendaryb {
    background-color: #8A2BE2;
}

.mythical {
    background-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.mythicalb {
    background-color: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
}

.transcendent {
    background-image: linear-gradient(to bottom right, #ff0000 0%, #ab0000 25%, #890000 50%, #5d0000 75%, #380000 100%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.transcendentb {
    background-color: linear-gradient(to bottom right, #ff0000 0%, #ab0000 25%, #890000 50%, #5d0000 75%, #380000 100%);
}

.common-border{
    border: solid 4px #e9c46a;
}

.uncommon-border{
    border: solid 4px #7FFFD4;
}

.epic-border{
    border: solid 4px #ff1493;
}

.legendary-border{
    border: solid 4px #8A2BE2;
}

.mythical-border{
    border: 5px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
}

.transcendent-border{
    border: 5px solid transparent;
    border-image: linear-gradient(to bottom right, #ff0000 0%, #ab0000 25%, #890000 50%, #5d0000 75%, #380000 100%);
    border-image-slice: 1;
}

  
div::-webkit-scrollbar-track {
    border-radius: 100px;
    background-color: #111c3a;
}
  
div::-webkit-scrollbar {
    width: 100%;
}

div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #1f468e;
}

div::-webkit-scrollbar-thumb:hover {
    background-color: #1b3d7c;
}