// redefine colors
$primary: #a1a9bd;
$secondary: #5B9D82;
$body-bg: #cfd8dc;
$gradient-1: #EC6EAD;
$gradient-2: #3494E6;

// redefine body background


// setup default background
html, body {
  //background-imag  e: var(--bs-gradient);
  //background-color: var(--bs-body-bg);
    background: $gradient-2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, $gradient-1, $gradient-2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, $gradient-1, $gradient-2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

// setup dark mode styling
.dark-mode {
  $enable-gradients: true;
  $gradient-1: #4983c8;
  $gradient-2: #4983c8;
  /* redefine theme colors */
  $light: #808080;
  $primary: #5c7ba8;
  $secondary: #49846f;
  $body-bg: #455a64;
  /* set background values */

  $theme-colors: (
          "primary": $primary,
          "secondary": $secondary
  );
  /* redefine theme color variables */
  //@each $color, $value in $theme-colors {
  //  --#{$variable-prefix}#{$color}: #{$value};
  //}
  ///* redefine theme theme-colors-rgb variables */
  //$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
  //@each $color, $value in $theme-colors-rgb {
  //  --#{$variable-prefix}#{$color}-rgb: #{$value};
  //}

  @import "../../../../../node_modules/bootstrap/scss/bootstrap";
}