@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

body{
    font-family: 'Lexend Deca', sans-serif;
    color: white;
}

.home-container{
    color: white;
    display: flex;
    margin: auto;
}

.left{
    border: red 1px solid;
    width: 40vw;
    height: 550px;
}

.right{
    border: yellow 1px solid;
    width: 40vw;
    height: 550px;
}


/* ---------ANIMATIONS---------- */

.home-container {
    animation: fadeIn 1.5s;
}

nav {
    animation: topSlide 1s;
}
  
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

@keyframes topSlide {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}