.login-form{
    background-color: var(--blueaccent);
    color: white;
    padding: 50px;
    border-radius: 35px;
    width: 30%;
    margin: 100px auto;
}

.login-input{
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    border: 2px solid var(--accent);
    outline: none;
}

label{
    padding:10px 0;
}

.submit{
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--accent);
    outline: none;
}

.upload-form{
    background-color: var(--blueaccent);
    color: white;
    padding: 50px;
    border-radius: 35px;
    width: 90%;
    margin: auto;
}