.cnav {
  background-color: rgba(43, 43, 43, 0.8);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  text-decoration: none;
  position: absolute;
  width: 95%;
  border-radius: 20px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  top: 1000px;
}

.navtext {
  color:white;
  text-decoration: none;
  display: inline;
  text-align: center;
}

.navtext:hover {
  color:gray;
  transition: .15s;
}