<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head>
    <div layout:fragment="metadata" th:remove="tag">
        <!-- Start of head content specific to page -->
        <title>Credit Administration Game</title>
        <!-- End of head content specific to page -->
        <style>
            body {
                background-image: url('http://localhost:8080/images/background.png');
            }
        </style>
    </div>
</head>

<body>
<div layout:fragment="content" th:remove="tag">
    <table class="table">
        <tbody>
            <tr>
                <td>
                    <img src="/static/images/logo.png" width=256 height="Auto">
                </td>
                <td>
                    <p style="color:white">National Social Credit Administration Gme</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>