<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <div th:replace="fragments/head :: header"></div>
    <div layout:fragment="metadata"></div>
</head>

<body>
    <div th:replace="fragments/nav :: header"></div>

    <div layout:fragment="content"></div>
  <!--  <div th:replace="fragments/footer :: footer"></div> -->

</body>

<div layout:fragment="script"></div>
<style>
    html, body {
        /*background: #0a1e30;  !* fallback for old browsers *!*!*/
        /*!*background-image: -webkit-linear-gradient(315deg, #060d1a 0%, #0d162c 75%);*!*/
        /*!*background-image: linear-gradient(315deg, #060d1a 0%, #0d162c 75%);*!*/
        /*background-color: #0a1e30;*/
    }

</style>

</html>